.swiper-header {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100vw;
  margin-top: 110px;
  .header-container {
    margin-left: 5vw;
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      & > li:first-of-type {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        font-size: 14px;

        & > a {
          text-decoration: none;
          color: white;
          opacity: 0.4;
        }
        & > a:hover {
          opacity: 1;
        }
        & > span {
          opacity: 0.4;
          color: white;
        }
        & > p {
          font-weight: 700;

          & > span {
            text-transform: uppercase;
          }
        }
      }
      & > li:last-of-type {
        & > p {
          font-size: 3rem;
          font-weight: 700;
          font-family: $titleFont;
        }
      }
      & > li {
        color: white;
      }
    }
  }
}
.main_swiper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  filter: brightness(0.7);

  .swiper-wrapper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      width: 100%;
      height: 100%;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
      }

      & > picture {
        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
        }
      }
    }
  }

  .swiper-pagination-bullet {
    background: white;
  }
  .swiper-button-prev {
    color: white;
  }
  .swiper-button-next {
    color: white;
  }
}

.teams__navigation {
  position: sticky;
  left: 0;
  right: 0;
  top: 63px;
  z-index: 1;
  overflow: hidden;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, $mainBlue 100%, $mainYellow);

  .teams__classement-calendrier__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-top: solid 3px $mainYellow;
    padding-top: 1rem;
    padding-bottom: 1rem;

    & > button {
      justify-content: center;
      align-items: center;
      width: 17rem;
      height: 3rem;
      text-decoration: none;
      border-radius: 20rem;
      border: 1px solid;
      color: $mainBlue;
      font-weight: 700;
      font-size: 1rem;
      background: linear-gradient(to left, #fff 50%, $mainYellow 50%) right;
      background-size: 200%;
      transition: 0.3s ease-out;
      cursor: pointer;
      display: flex;
      text-transform: uppercase;

      & > span:nth-of-type(2) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    & > button:hover {
      background-position: left;
    }
  }

  .teams__gallery__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-y: hidden;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, $mainBlue 100%, $mainYellow);
    padding: 1rem;

    & > ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      & > li {
        & > button {
          width: 10rem;
          text-decoration: none;
          border: none;
          background-blend-mode: multiply;
          background-color: rgba(0, 0, 0, 0.1);
          background-image: linear-gradient(
            to right,
            $mainBlue 100%,
            $mainYellow
          );
          color: white;
          font-size: 1.125rem;
          font-weight: 700;
          text-transform: uppercase;
          cursor: pointer;
          opacity: 0.5;
        }

        & > button:hover {
          opacity: 1;
          transition: 0.1s ease-out;
        }
      }
    }
  }

  .teams__gallery__navigation::-webkit-scrollbar:horizontal {
    display: none;
  }
}

.teams__gallery {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  padding-top: 6rem;

  .teams__gallery__header {
    display: flex;
    justify-content: center;
    align-items: center;

    & > h2 {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .teams__gallery__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    & > figure {
      overflow: hidden;

      & > picture {
        & > img {
          width: 100%;
          height: auto;
          transition: transform 0.5s;
        }

        & > img:hover {
          transform: scale(1.5) translateX(10%);
        }
      }

      & > img {
        width: 100%;
        height: auto;
        transition: transform 0.5s;
      }

      & > img:hover {
        transform: scale(1.5) translateX(10%);
      }
    }
  }

  & > .style__border__bottom {
    width: 50%;
    align-self: center;
    justify-self: center;
  }
}

.teams__widgets {
  margin-top: 4rem;
  margin-bottom: 4rem;

  & > section {
    padding: 6rem 0 0 0;

    & > h3 {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      flex-wrap: wrap;

      & > span {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .teams__widgets {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .teams__gallery {
    .teams__gallery__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      & > figure {
        & > img {
          width: 100%;
          height: auto;
        }

        & > picture {
          & > img {
            width: 100%;
            height: auto;
            transition: transform 0.5s;
          }

          & > img:hover {
            transform: scale(1.5) translateX(10%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .swiper-header {
    display: none;
  }
  .main_swiper {
    height: auto;
    .swiper-wrapper {
      .swiper-slide {
        & > img {
          height: 24rem;
        }
      }
    }
  }
  .teams__navigation {
    .teams__classement-calendrier__navigation {
      flex-wrap: nowrap;
      gap: 1rem;
      padding: 1rem;

      & > button {
        height: 3.5rem;
        flex-wrap: wrap;
      }
    }

    .teams__gallery__navigation {
      justify-content: start;
      & > ul {
        gap: 1rem;
      }
    }
  }

  .teams__gallery {
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
    .teams__gallery__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      width: 95vw;

      & > figure {
        & > img {
          width: 100%;
          height: auto;
        }

        & > picture {
          & > img {
            width: 100%;
            height: auto;
            transition: transform 0.5s;
          }

          & > img:hover {
            transform: scale(1.5) translateX(10%);
          }
        }
      }
    }
  }

  .teams__widgets {
    & > section {
      padding: 3rem 1rem 0;
    }
  }
}
