//Colors
$mainBlue: #034076;
$mainYellow: #fdcd11;
$grey: #f7f7f7;
$greyText: #595959;

//Font family
$titleFont: "Bebas Neue", sans-serif;
$bodyTextFont: "Barlow", sans-serif;

//Font size
$h1Size: 2.5rem;
$h2Size: 2rem;
$h3Size: 1.75rem;
$h4Size: 1.5rem;
$h5Size: 1.25rem;
$h6Size: 1rem;
$bodyTextSize: 1rem;
